<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="userNameToDeleteBy" value="NA\stage-pool-momentum"/>
    <add key="fileOlderThan" value="-60"/>
  </appSettings>
</configuration>
